div{margin: 0; padding: 0;}
div div{background: #A4CA39;
position: relative;}

.android{
  height: 404px;
  width: 334px;
  margin: 0 auto;
}
#head{
	position: absolute; top: 42px; left: 50px;
  width: 220px; height: 100px;
  border-radius: 110px 110px 0px 0px;
}
#body{
	position: absolute; top: 152px; left: 50px;
  width: 220px; height: 150px;
  border-radius: 0px 0px 25px 25px;
}
#l_eye, #r_eye{
  background: #fff;
  width: 20px; height: 20px;
	-webkit-border-radius: 10px;
	position: absolute; top: 42px;
}
#l_eye{
  left: 50px;
}
#r_eye{
  right: 50px;
}
#l_arm, #r_arm{
	position: absolute;
  width: 40px; height: 100px;
  border-radius: 25px 25px 25px 25px;
}
#l_arm{
  left: -46px;
}
#r_arm{
  right:-46px;
}
#l_leg, #r_leg{
	position: absolute; top: 150px;
  width: 40px; height: 50px;
  border-radius: 0px 0px 25px 25px;
}
#l_leg{
  left: 20px;
}
#r_leg{
  right:20px;
}
#l_ant,#r_ant{
  position: absolute; top: -30px;
  width: 10px; height: 50px;
  border-radius: 5px 5px 0px 0px;
}
#l_ant{
  left: 50px;
  transform:rotate(-30deg);
}
#r_ant{
  right: 50px;
  transform:rotate(30deg);
}
